<div class="subcat clearfix">
	<div class="f_l subcat_list">
		<form action="" method="get" class="clearfix">
			<select name="catid" id="catid">
				<option value="">按栏目查看</option>
				<?php foreach($catetree as $c):?>
				<option value="<?php echo $c['catid'];?>"<?php if($c['catid'] == $catid):?> selected="selected"<?php endif;?>><?php echo $c['nbsp'];?><?php echo $c['catname'];?></option>
				<?php endforeach;?>
			</select>
			<input type="submit" value="查看">
		</form>
	</div>
	<div class="f_r search">
		<form action="" method="get" class="clearfix">
			<input type="text" name="q" placeholder="输入要搜索的标题关键字" />
			<input type="submit" value="搜索" >
		</form>
	</div>
</div>
<form action="/Mzsj/Content/delarticle/" method="post">
<table class="table-form">
	<tr class="tr-header">
		<th width="1"><input type="checkbox" value="" class="checkall"></th>
		<th width="40">ID</th>
		<th width="60">排序</th>
		<th width="500">标题</th>
		<th width="70">推荐</th>
		<th width="70">状态</th>
		<th width="60">外链</th>
		<th width="170">修改时间</th>
		<th>操作</th>
	</tr>
	<?php foreach ($artlist as $v):?>
	<tr>
		<td><input type="checkbox" name="aids[]" value="<?php echo $v['artid'];?>" class="subcheck" ></td>
		<td><?php echo $v['artid'];?></td>
		<td><?php echo $v['listorder'];?></td>
		<td><span class="color_9">[ <span class="color_green"><?php echo $catetree[$v['catid']]['catname'];?></span> ]</span> <a href="/Mzsj/Content/showart/aid/<?php echo $v['artid'];?>"><?php echo $v['title'];?></a></td>
		<td><?php echo $v['posidname'];?></td>
		<td><?php echo $v['statusname'];?></td>
		<td><?php echo $v['islinkname'];?></td>
		<td><?php echo date('Y-m-d H:i:s',$v['updatetime']);?></td>
		<td><a href="/Mzsj/Content/shenheart/aid/<?php echo $v['artid'];?>/status/<?php echo $v['status'];?>"><?php if($v['status'] == 0):?><span class="color_green">通过审核</span><?php else:?><span class="color_9">撤消审核</span><?php endif;?></a> | <a href="/Mzsj/Content/editarticle/aid/<?php echo $v['artid'];?>">修改</a> | <a href="/Mzsj/Content/delarticle/aid/<?php echo $v['artid'];?>" class="confirm">删除</a></td>
	</tr>
	<?php endforeach;?>
	<tr class="tr-btn">
		<td width="1"><input type="checkbox" value="" class="checkall"></td>
		<td colspan="3"><input type="submit" value="删除" class="btn-del confirm" /></td>
		<td colspan="8"><div class="pages f_r"><?php echo $pages;?></div></td>
	</tr>
</table>
</form>
