<div class="form-group">
	<label for="catname" class="item-label">栏目：</label>
	<?php echo $catname[$artinfo['catid']]['catname'];?>
</div>
<div class="form-group">
	<label for="title" class="item-label">文章标题：</label>
	<?php echo $artinfo['title'];?>
</div>
<div class="form-group">
	<label for="keyword" class="item-label">文章关键字：</label>
	<?php echo $artinfo['keyword'];?>
</div>
<div class="form-group">
	<label for="description" class="item-label">文章描述：</label>
	<?php echo $artinfo['description'];?>
</div>
<div class="form-group">
	<label for="thumb" class="item-label">文章图片：</label>
	<?php if($artinfo['thumb'] != ''):?>
		<img src="<?php echo $artinfo['thumb'];?>" width="120" height="90" alt="">
	<?php endif;?>
</div>
<div class="form-group">
	<label for="content" class="item-label">文章内容：</label>
	<?php echo $artinfo['content'];?>
</div>
<div class="form-group">
	<label for="listorder" class="item-label">排序：</label>
	<?php echo $artinfo['listorder'];?>
</div>
<div class="form-group">
	<label for="islink" class="item-label">是否外链接：</label>
	<?php if($artinfo['islink'] == 1):?>
	是
	<?php else:?>
	否
	<?php endif;?>
</div>
<div class="form-group">
	<label for="url" class="item-label">链接地址：</label>
	<?php echo $artinfo['url'];?>
</div>
<div class="form-group">
	<label for="posid" class="item-label">推荐位：</label>
	
</div>
<!-- <div class="form-group">
	<label for="status" class="item-label">状态：</label>
	<input type="radio" name="status" <if condition="$infos['status'] == 1">checked="checked" </if>class="input-radio" value="1"> 正常
	<input type="radio" name="status" <if condition="$infos['status'] == 0">checked="checked" </if>class="input-radio" value="0"> 隐藏
</div> -->