<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8" />
	<title><?php echo $title;?></title>
	<base href="<?php echo $conf['app_path'];?>" />
	<meta name="author" content="李潇喃：www.muzisheji.com" />
	<!-- IE最新兼容 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 国产浏览器高速 -->
	<meta name="renderer" content="webkit">
	<!-- 移动设备禁止缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script src="<?php echo $conf['js_path'];?>html5.js"></script>
	<script src="__ROOT__/Static/Common/js/respond.js"></script>
	<![endif]-->
	<script src="<?php echo $conf['js_path'];?>jquery.js"></script>
	<script src="<?php echo $conf['js_path'];?>mzsj/common.js"></script>
	<script src="<?php echo $conf['js_path'];?>Validform.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo $conf['css_path'];?>mzsj/reset.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $conf['css_path'];?>validform.css" />
	<!-- 富文本 -->
	<script charset="utf-8" src="<?php echo $conf['js_path'];?>kindeditor/kindeditor-all.js"></script>
	<link rel="stylesheet" href="<?php echo $conf['js_path'];?>kindeditor/themes/default/default.css">
	<!-- 时间控件 -->
	<script charset="utf-8" src="<?php echo $conf['js_path'];?>laydate.js"></script>
	<link rel="stylesheet" href="<?php echo $conf['css_path'];?>laydate.css">
	<style>
	html {font-size: 14px;}
	</style>
</head>

<body>
	<!-- 右侧标题 -->
	<div class="clearfix">
		<h2 class="main_title f_l"><?php echo $title;?></h2>
		<div class="btn-group f_l">
		<?php foreach($rightmenu as $rmenu):?>
			<a href="<?php echo '/'.$rmenu['url']?>" class="btn-green">[ <?php echo $rmenu['name']?> ]</a>
		<?php endforeach;?>
		</div>
	</div>
	<div class="right_con">