<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8" />
	<title><?php echo $msg['title'];?></title>
	<base href="<?php echo $conf['app_path'];?>" />
	<meta name="author" content="李潇喃：www.muzisheji.com" />
	<!-- IE最新兼容 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 国产浏览器高速 -->
	<meta name="renderer" content="webkit">
	<!-- 移动设备禁止缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" type="text/css" href="<?php echo $conf['css_path'];?>mzsj/reset.css" />
</head>

<body>
	<style>
		*{padding: 0;margin: 0;}
		html {font-size: 14px;}
		.system-message {border: #ccc solid 1px; width: 500px; margin: 100px auto 0; text-align: center; position: relative;}
		h1 {background-color: #383838; height: 2em; line-height: 2em; font-size: 1.2em; color: #FFF; font-weight: normal;}
		.system-message p {margin:3em 0 5em; font-size: 1.2em;}
		.jump {position: absolute; left: 0; right: 0; bottom: 0; background-color: #eee; color: #888;}
	</style>

	<div class="system-message">
	<h1>跳转信息</h1>
	<p class="msgcontent"><?php echo $msg['content'];?></p>
	<!-- <p class="detail">您走错地方了~回去重来吧</p> -->
	<footer class="jump">
	<?php if(empty($msg['url'])){ ?>
	<a href="javascript:history.back();" >返回上一页</a>
	<?php } else {?>
	页面自动 <a id="href" href="<?php echo $msg['url'];?>">跳转</a> 等待时间： <b id="wait">2</b>

	<script type="text/javascript">
	(function(){
	var wait = document.getElementById('wait'),href = document.getElementById('href').href,istop = '<?php echo $msg['top'];?>';
	var interval = setInterval(function(){
		var time = --wait.innerHTML;
		if(time <= 0) {
			if (istop != 0)
			{
				top.location.href = href;
			}
			else
			{
				location.href = href;
			}
			clearInterval(interval);
		};
	}, 1000);
	})();
	</script>
	<?php }?>
	</footer>
	</div>
</body>
</html>