<table class="table-form">
	<tr class="tr-header">
		<th width="40">ID</th>
		<th width="150">用户组</th>
		<th width="150">状态</th>
		<th>操作</th>
	</tr>
	<?php foreach ($rolelist as $role):?>
	<tr>
		<td><?php echo $role['roleid']?></td>
		<td><?php echo $role['rolename']?></td>
		<td><?php echo $role['status']?></td>
		<td><a href="/Mzsj/Admin/editrole/rid/<?php echo $role['roleid'];?>">修改</a><?php if($role['roleid'] != 1):?> | <a href="/Mzsj/Admin/adminpriv/rid/<?php echo $role['roleid'];?>">权限管理</a> | <a href="/Mzsj/Admin/delrole/rid/<?php echo $role['roleid'];?>" class="confirm">删除</a><?php endif;?></td>
	</tr>
	<?php endforeach;?>
	<tr class="tr-btn">
		<td colspan="7"><div class="pages"><?php echo $pages;?></div></td>
	</tr>
</table>