<form action="" class="form-box" method="post">
        <div class="form-group">
                <label for="adminname" class="item-label">用户名：</label>
                <?php echo $ainfo['adminname']?>
        </div>
        <div class="form-group">
                <label for="oldpassword" class="item-label">旧密码：<span class="color_9"> 必须填写</span></label>
                <input type="password" name="oldpassword" class="input-text" datatype="*6-15">
        </div>
        <div class="form-group">
                <label for="password" class="item-label">密码：<span class="color_9"> 必须填写</span></label>
                <input type="password" name="password" class="input-text" datatype="*6-15">
        </div>
        <div class="form-group">
                <label for="repassword" class="item-label">确认密码：<span class="color_9"> 必须填写</span></label>
                <input type="password" name="repassword" class="input-text" recheck="password" datatype="*6-15">
        </div>
        <div class="form-group">
                <button type="submit" name="dosubmit" class="btn-success">提交</button><button type="reset" name="reset" class="btn-error">重填</button>
        </div>
</form>
<script>
    $(function(){
        $(".form-box").Validform({
                tiptype:3, //在侧边弹出提示信息
        });
    });
</script>


